:root {
    --darkBlue: #2F3E46;
    --blue: #354F52;
    --teal: #52796F;
    --lightTeal: #84A98C;
    --grey: #e7f2df;
}


.resume {
    background-color: #394c77;
color: white;
/* border: 10px var(--grey); */
padding-top: 20px;
font-family: 'Arima Madurai', cursive;
}

li {
    font-family: 'Roboto', sans-serif;

}