

.navbar {
  background-color: #4b5e8a;
opacity: .9;
    height: 75px;
    border-bottom:yellow 10px;
  }

  .nav-link{
    color:white !important;
  }

  .navbar-nav .nav-link.active {
    color: #1a2235 !important;

  }
  
  #name {
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
    /* margin: 25px;
    line-height: 3;  */
  }

#navLinks  {
    /* justify-content:flex-end; */
    /* color: var(--grey); */
    font-size: 1.25rem;
    text-decoration: none;
   /* margin: 25px; */
    /* line-height: 3;  */
  } 

  a{
    margin-right: 25px;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    /* color: #0d6efd; */
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  }

  .navbar-collapse{
    color: var(--grey);
    text-decoration: none;

  }
  /* a:hover {
      /* color: var(--blue) */
  /* } */
  