:root {
    --darkBlue: #2F3E46;
    --blue: #354F52;
    --teal: #52796F;
    --lightTeal: #84A98C;
    --grey: #e7f2df;
}

.navbar {
    background: #84A98C;
    height: 100px;
  }
  
  #name {
    color: var(--grey);
    font-size: 2.5rem;
    text-decoration: none;
    /* margin: 25px;
    line-height: 3;  */
  }

#navLinks  {
    /* justify-content:flex-end; */
    color: var(--grey);
    font-size: 1.25rem;
    text-decoration: none;
   /* margin: 25px; */
    /* line-height: 3;  */
  } 

  a{
    margin-right: 25px;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    /* color: #0d6efd; */
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  }

  .navbar-collapse{
    color: var(--grey);
    text-decoration: none;

  }
  /* a:hover {
      /* color: var(--blue) */
  /* } */
  