footer {
    background-color: #4b5e8a;
    padding: 20px;
 
}

#icon{
    /* display:flex; */
   font-size: 40px;
   text-decoration: none !important;
    margin-right: 0px;
    color: white!important
}


/* a.white-link {
    color: white;
} */